<div class="page-header">
  <h1>About Us</h1>
</div>
<p>NoFeeBnB is a service that connects hosts and guests, for FREE!</p>

<p>We're still in the process of developing this service, so check in again.</p>
